.block-location-teaser-container {

}

.block-location-teaser-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.location-teaser-left {
     width: 60%;
}

.location-teaser-right {
     width: 35%;
     display: flex;
     flex-direction: column;
     gap: 20px;
}