.block-hero-wrapper {
     display: flex;
     gap:4%;
     margin:  5vh 0;
     justify-content: space-between;
     align-items: flex-end;
}

.hero-left-container { width: 48%; overflow-y: visible; }
.hero-right-container { width: 48%; }

.mv-hero-image {
     width: 65vw;
     max-width: calc(200% / 100 * 70);
}

@media screen and (max-width: 960px) {
     .hero-left-container {  width: 40% !important; }
     .hero-right-container { width: 40% !important; }
}

@media screen and (max-width: 680px) {
     .block-hero-wrapper {  
          flex-direction: column; 
          align-items: flex-start;
          gap: 40px;
     }
     .hero-left-container {  width: 100% !important; }
     .mv-hero-image { width: 90% !important; max-width: none;}
     .hero-right-container { width: 80% !important;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          align-self: flex-end;
     }
     .hero-right-container > h1,
     .hero-right-container > h3 { text-align: right; }

}